html,
body {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

header {
  padding: 0.2em 2ch;
  border-bottom: solid 1px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  font-size: 1.6em;
  margin: 0;
  & > .material-symbols-outlined {
    font-size: 1.6em;
    vertical-align: bottom;
  }
}

.header-content {
  display: flex;
  gap: 0.6em;
}

.header-content .message {
  background-color: lightyellow;
  color: green;
  border: solid 3px rgba(0, 128, 0, 0.555);
  border-right: none;
  border-left: none;
  font-size: larger;
  font-weight: bolder;
}

main {
  flex: 1;
  display: flex;
  flex-direction: row;
  & > #blockly-editor {
    flex: 1;
  }
  & > aside {
    width: 360px;
    padding: 0.6em;
    box-sizing: border-box;
  }
}
.blockly-toolbox {
  border-right: solid 1px rgba(0, 0, 0, 0.15);
}

.blocklyFlyoutBackground {
  stroke: #ccc;
  stroke-width: 2px;
}

aside {
  border-left: solid 1px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 1em;
}

h2 {
  font-size: 1em;
  margin: 0 0 10px;
}

.pattern-container,
.replace-container {
  display: flex;
  gap: 0.5em;
  & > :where(.regex-pattern, .replace-text) {
    flex: 1;
  }
  & > .copy-button {
    padding: 0;
    border: solid 1px #ddd;
    border-radius: 0.3em;
    cursor: pointer;
  }
}
.copy-button {
  background: white;
  display: flex;
  align-items: center;
  & > .material-symbols-outlined {
    font-size: 1.4em;
  }
}

.regex-pattern,
.replace-text,
.target-text,
.result-text {
  padding: 0.4em;
}
.target-text,
.result-text {
  font-size: 1.2em;
}

.target-text {
  width: 100%;
  height: 160px;
  box-sizing: border-box;
  resize: none;
}
.result-text {
  background: #f8fafc;
  min-height: 120px;
  max-height: 20em;
  overflow: scroll;
  margin: 0;
  border: solid 1px #e5e7eb;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

mark {
  padding: 0 0.05em;
  margin: 0 0.1em;
  background-color: orange;
}
.sp-mark,
.tb-mark,
.nl-mark {
  color: #94a3b8;
}
.sp-mark {
  font-size: 0.8em;
}
.tb-mark {
  padding: 0 0.4em;
}
.nl-mark {
  font-size: 0.7em;
}
